:root {
    --text-color: black;
    background-color: rgb(243, 239, 239);
    --main-background-color: ;
    --secondary-background-color: red;
    --large-font: xx-large;
    --smaller-font: x-large;
    --type-font: Arial, Helvetica, Sans-serif;
    font-size: ;

}

.content {
    display: flex;
    background-color: var(--main-background-color);
}

.left {
    position: relative;
}


/* Logo */

.logo{
    display: flex;
    position:absolute;
    top: 25%;
    left: 25%;
}

#logo {
    width: 75px;
    height: auto;
}

.logo h1 {
    color: black;
}


/* background image */

#background-image {
    background-image: url(./image.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
    height: 100vh;
}

/* right side */

.right {
    display: flex;
    flex-direction: column;
    
    padding-left: 25px;
    padding-right: 100px;
}

.sign-up-paragraph {
    padding-bottom: 30px;
    font-size: var(--smaller-font);
    font-family: var(--type-font);
    box-shadow: inset;
    padding-top: 30px;
}

.sign-up-paragraph p {
    max-width: 700px;
    font-weight: 600;
}


.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 2vw;
    padding: 1vw;
    justify-content: space-around;
    background-color: white;

}


.form-container {
    justify-self: center;
}


.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 30px;
}

.button {
    padding-top: 25px;
}

.account-query {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-title {
    font-size: 2.5rem;
    font-family: var(--type-font);
    font-weight: 500;
}

button {
    border-radius: 9999px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-weight: 600;
    background-color: #008000;
    color: white;
}

label {
    font-weight: 600;
}

input {
    border-radius: 9999px;
}
